= form_for @todo_list do |f|
  - if @todo_list.errors.any?
    #error_explanation
      %h2= "#{pluralize(@todo_list.errors.count, "error")} prohibited this todo_list from being saved:"
      %ul
        - @todo_list.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
