<template lang='haml'>
#app
  .grid-x#menubar
    .cell
      %ul.menu
        :plain
          <li><router-link :to="{path:'/'}">Home</router-link></li>
          <li><router-link :to="{path:'/drag'}">Drag</router-link></li>
          <li><router-link :to="{name:'modal'}">Modal</router-link></li>
  .grid-x.grid-x-margin
    .cell.auto
      %router-view
    .cell.shrink
      login comes here

</template>

<script lang="coffee">
  
  export default 
    data:  () =>
      {
        message: "Hello Vue!"
        modal_route: {name:'modal'}
      }
    components: 
      {
      }
    
    beforeCreate: ->
      #console.log 'APP before create'

    created: ->
      console.log 'APP created'

    beforeMount: ->
      #console.log 'APP before mount'

    mounted: ->
      console.log 'APP mounted'
      #Initialize the FirebaseUI Widget using Firebase.
      #ui = new firebaseui.auth.AuthUI(firebase.auth());

      #The start method will wait until the DOM is loaded.
      #ui.start('#firebaseui-auth-container', window.uiConfig);

    beforeUpdate: ->
      #console.log 'APP before update'

    updated: ->
      console.log 'APP updated'

    beforeDestroy: ->
      #console.log 'APP before destroy'

    destroyed: ->
      console.log 'APP destroyed'

</script>

<style scoped lang="sass">
  @import '../foundation/application'
  $rouge: red;
  p 
    font-size: 2em
    text-align: center
    @include breakpoint(medium)
      color: $rouge
    @include breakpoint(large)
      color: blue
  #app
    @include xy-grid-container
    border: thin solid black
    margin-top: 25px

  
</style>
