<template lang="haml">
  .CARD
    .cell
      %div {{item.position}} {{item.name}} {{item.id}}

</template>

<script lang="coffee">
  import $ from 'jquery'
  export default 
    data:  () ->
      message: "This is the message from CARD "

    props: ['item']
    watch: 
      message: (val, old) ->
        console.log("message updated")

    beforeCreate: ->
      #console.log 'CARD   before create'
    created: ->
      #console.log 'CARD   created'

    beforeMount: ->
      #console.log 'CARD   before mount'

    mounted: ->
      #console.log 'CARD   mounted  ' + @item.name

    beforeUpdate: ->
      #console.log 'CARD   before update ' + @item.name

    updated: ->
      #console.log "CARD updated: p: #{@item.position} n: #{@item.name}"

    beforeDestroy: ->
      #console.log 'CARD   before destroy'

    destroyed: ->
      console.log 'CARD   destroyed'

</script>

<style lang="sass" scoped>

</style>
