<template lang='haml'>
  #carte_racine
    .grid-container
      .grid-x
        .cell.medium-8
          #carte
        .cell.shrink.grid-y
          %fieldset
            .cell Fournisseurs carte de base
            %radio{provider:"Stamen.Watercolor",            'v-on:childclick': 'childclick'}
            %radio{provider:"OpenStreetMap.Mapnik",         'v-on:childclick': 'childclick'}
            %radio{provider:"OpenStreetMap.BlackAndWhite",  'v-on:childclick': 'childclick'}
            %radio{provider:"OpenStreetMap.HOT",            'v-on:childclick': 'childclick'}
            %radio{provider:"OpenTopoMap",                  'v-on:childclick': 'childclick'}
            %radio{provider:"Esri.WorldStreetMap",          'v-on:childclick': 'childclick'}
            %radio{provider:"Esri.DeLorme",                 'v-on:childclick': 'childclick'}
            %radio{provider:"Esri.WorldImagery",            'v-on:childclick': 'childclick'}
            %radio{provider:"HikeBike.HikeBike",            'v-on:childclick': 'childclick'}
            %radio{provider:"OpenStreetMap.France",         'v-on:childclick': 'childclick'}
            %radio{provider:"Esri.WorldTopoMap",            'v-on:childclick': 'childclick'}
            %radio{provider:"OpenStreetMap.France",         'v-on:childclick': 'childclick'}
            
      
</template>

<script lang='coffee'>
  import L from 'leaflet'
  import 'leaflet-providers'
  import Vue from 'vue/dist/vue.esm'
  import slug from 'slug'
  
  radio = {
    template: """
    <div class='cell'>
      <input type='radio' name='provider' v-on:click = "childclick()" :id="sprovider" :checked="isselected?'checked':null">
      <label>{{provider}}</label>
    </div>
    """

    props: 
      {
        provider:""
      }
    computed:
      {
        sprovider: () ->
          slug(@provider)
        isselected: () ->
          (!sessionStorage.provider? && @provider == "Stamen.Watercolor") || (sessionStorage.provider == @provider)
      }

    methods: 
      {
        childclick: () ->
          console.log('local click')
          this.$emit('childclick', this.provider)
      }

  }

  export default  
    data:  () =>
      {
        map: false
        providerName: if (sessionStorage.provider != undefined) then sessionStorage.provider else 'Stamen.Watercolor'
      }

    components: 
      {
        radio
      }

    methods: 
      {
        childclick: (payload) ->
          console.log("ChildrenClick called #{payload}")
          @myclick(payload)
        myclick: (provider) ->
          this.$emit('beforeUpdate')
          center = this.map.getCenter()
          zoom = this.map.getZoom()
          this.map.remove()
          this.map = null
          @providerName = provider
          this.map = L.map('carte').setView(center, zoom)
          L.tileLayer.provider(@providerName).addTo(this.map)
          this.$emit('updated')
          sessionStorage.provider = @providerName
          $newRadio = $("\##{slug(@providerName)}")
          #console.log $newRadio
      }

    beforeCreate: ->
      #console.log 'carte before create'

    created: ->
      #console.log 'carte created'

    beforeMount: ->
      #console.log 'carte before mount'

    mounted: ->
      console.log 'carte mounted'
      center = if (sessionStorage.center != undefined) then JSON.parse(sessionStorage.center) else [45.55, -73.55]
      zoom = if (sessionStorage.zoom != undefined) then  JSON.parse(sessionStorage.zoom) else 13
      this.map = L.map('carte').setView(center, zoom)
      L.tileLayer.provider(@providerName).addTo(this.map) 
      
      this.map.on 'moveend', (evt) =>
        sessionStorage.center = JSON.stringify(this.map.getCenter())

      this.map.on 'zoomend', (evt) =>
        sessionStorage.zoom = JSON.stringify(this.map.getZoom())

      #this.map.on 'unload', (evt) ->
        #console.log 'map unload'
        #console.log evt


    beforeUpdate: ->
      #console.log 'carte before update'

    updated: ->
      #console.log 'carte updated'

    beforeDestroy: ->
      console.log 'carte before destroy'
      sessionStorage.center = JSON.stringify(this.map.getCenter())
      sessionStorage.zoom = JSON.stringify(this.map.getZoom())
      sessionStorage.provider = @providerName

    destroyed: ->
      #console.log 'carte destroyed'
    watch: 
      {
        providerName: (val, old) ->
          console.log "ProviderName #{old} -> #{val}"
      }

</script>

<style scoped lang="sass">
  @import '../foundation/application'
  #carte
    width: 640px
    height: 480px
    border: thin solid black
    background-color: $light-gray
    margin: 25px

  button.cell 
    @extend .button
    margin: 15px
</style>