<template lang="haml">
  .DRAG
    .list-container
      %template{'v-for':"list in todolists"}
        %list{':list':'list', 'v-on:reordered':'listDidUpdate'}

</template>

<script lang="coffee">
  import $ from 'jquery'
  import List from './list.vue'

  export default 
    data:  () ->
      message: "This is the message from Drag"
      todolists: null

    watch: #
      todolists: (val, old) ->
        console.log("todolists updated")

    components: #
      { 
        List
      }

    methods: #
      {
        # Called when a list post 'reordered' event
        listDidUpdate: () ->
          console.log 'DRAG list did update'
          setTimeout =>
            this.load()
          , 250
        
        # Load is called at start (created) and 
        # when listDidUpdate event handler is called
        load: () ->
          console.log('DRAG loading data')
          me = this
          $.ajax
            method: 'GET'
            url: '/todo_lists.json'
          .done (rdata, textStatus, jqXHR) ->
            #console.log("DRAG request DONE: #{textStatus} ****")
            me.todolists = rdata
          .fail (rdata, textStatus, jqXHR) ->
            console.log("DRAG request FAIL: #{textStatus} ****")
          .always (rdata, textStatus, jqXHR) ->
            #console.log("DRAG request ALWAYS: #{textStatus} ****")
      }
    beforeCreate: ->
      console.log 'DRAG  before create'

    
    created: -> #
      console.log 'DRAG  created'
      @load()

    beforeMount: ->
      console.log 'DRAG  before mount'

    mounted: ->
      console.log 'DRAG  mounted'

    beforeUpdate: ->
      console.log 'DRAG  before update'

    updated: ->
      console.log 'DRAG  updated'

    beforeDestroy: ->
      console.log 'DRAG  before destroy'

    destroyed: ->
      console.log 'DRAG  destroyed'

</script>

<style lang="sass" scoped>
  @import '../foundation/application'
  .DRAG
    @include xy-grid-container
    & .list-container
      @include xy-grid
      @include xy-grid-layout(1, '.LIST')
      @include breakpoint(medium)
        @include xy-grid-layout(3, '.LIST')
      @include breakpoint(large)
        @include xy-grid-layout(4, '.LIST')

</style>


