<template lang="haml">
  .LIST
    .card
      .card-divider
        %h5 {{list.name}}
      .card-section
        %draggable{':v-model':'list.todo_items', '@start':'itemChangeStart', '@end':'itemChangeEnd'}
          .grid-y{'v-for':"second in list.todo_items", ":data-item-id":'second.id', ':key':'second.id' }
            %card{':item':'second'}
              
</template>

<script lang="coffee">
  # Import from the outside world via yarn
  import $ from 'jquery'
  import Draggable from 'vuedraggable'

  # Local imports
  import Card from './card.vue'
  
  # This is the Coffescript entry point
  export default 
  
    data:  () ->
      # data, must be a function, returns all used data
      # by the component.
      message: "This is the message from LIST "

    props: ['list']
    components: #
      {
        Card
        Draggable
      }
    methods: #
      {
        itemChangeStart: () ->
          #console.log event
        itemChangeEnd: (event) -> #
          # Authentification token in the header
          csrf_token = $('meta[name="csrf-token"]').attr('content')
          
          #Which item has moved
          item_id = event.item.getAttribute('data-item-id')
          
          # What is its new location
          new_index = event.newIndex + 1
          
          #Where to send the update (with data in url)
          query = "/api/v1/todo_items/update/#{item_id}/#{new_index}"
          console.log "item_id: #{item_id} new position: #{new_index} query: #{query}"
          
          # Brodcast we're about to reorder in the server
          this.$emit('beforeReorder')
          
          # Perform the ajax call to the api on the server
          jqXHR = $.ajax
            method: 'PATCH'
            dataType: 'text'
            url: query
            beforeSend: (request) ->
              request.setRequestHeader('X-CSRF-Token', csrf_token)
          .done (rdata, textStatus, jqXHR) => #
            console.log("LIST request DONE: #{textStatus} : #{rdata} ****")
            # Inform the word the data has changed
            this.$emit('reordered')
          .fail (data, textStatus, jqXHR) =>
            console.log("LIST request FAIL: #{textStatus} ")
            console.log data
          .always (data, textStatus, jqXHR) =>

      }
    watch: 
      message: (val, old) ->
        console.log("message updated")

    # --

    # Component life cycle event hooks
    beforeCreate: ->
      console.log 'LIST   before create'
    created: ->
      console.log 'LIST   created'

    beforeMount: ->
      console.log 'LIST   before mount'

    mounted: ->
      console.log 'LIST   mounted'

    beforeUpdate: ->
      console.log 'LIST   before update'
      #@list.todo_items.forEach (element, index, array) ->
      #  console.log("index: #{index} p: #{element.position} nom: #{element.name}")

    updated: ->
      console.log 'LIST   updated'

    beforeDestroy: ->
      console.log 'LIST   before destroy'

    destroyed: ->
      console.log 'LIST   destroyed'
    #-

</script>

<style lang="sass" scoped>
  @import '../foundation/application'
  .LIST
    @extend .cell  
    border: thin solid darkgray

    & .grid-y
      margin: 2px 0
      border: thin solid black
      padding: 5px 0
      text-align: center
    

</style>
