<template lang="haml">
  .MODAL
    .cell
      %button.button{'data-open':'exampleModal1'}Click ici

      .reveal#exampleModal1{'data-reveal':'true'}
        %h1 Merveilleux, je l'ai!! 
        %p.lead It's mine
        %p I'm a cool paragraph that lives inside of an even cooler modal. Wins!
        %button.close-button{'@click':'close()', 'arial-label':"close modal", type:'button'}
          %span{'aria-hidden':'true'}&times;

</template>

<script lang="coffee">
  #import { jQuery, $ } from 'jquery'
  import 'script-loader!jquery/dist/jquery.min';
  import 'script-loader!what-input/dist/what-input.min';
  import 'script-loader!foundation-sites/dist/js/foundation.min';
  export default 
    data:  () ->
      message: "This is the message from Modal"
      modalbox: ''
    props: []
    components:
      {
        
      }
    watch: 
      message: (val, old) ->
        console.log("message updated")
    methods:
      {
        open: () ->
          $('#exampleModal1').foundation('open')
        
        close: () ->
          console.log('MODAL close called')
          $('#exampleModal1').foundation('close')
        
        toggle: () ->
          $('#exampleModal1').foundation('toggle')
      }
    beforeCreate: ->
      console.log 'MODAL  before create'
    created: ->
      console.log 'MODAL  created'

    beforeMount: ->
      console.log 'MODAL  before mount'

    mounted: ->
      console.log 'MODAL  mounted'
      that = this
      $(this.$el).foundation();
      $('#exampleModal1').on 'open.zf.reveal', () ->
        console.log 'modal has opened'
        that.$emit('open')

      $('#exampleModal1').on 'closed.zf.reveal', () ->
        console.log 'modal has closed'
        $('.reveal-overlay').removeAttr('style')
        that.$emit('closed')

    #
    beforeUpdate: ->
      console.log 'MODAL  before update'

    updated: ->
      console.log 'MODAL  updated'

    beforeDestroy: ->
      console.log 'MODAL  before destroy'
      #$(this.$el)._destroy()
      $('#exampleModal1').off 'closed.zf.reveal'
      $('#exampleModal1').off 'open.zf.reveal'

    destroyed: ->
      console.log 'MODAL  destroyed'

</script>

<style lang="sass" scoped>
  @import '../foundation/application'
  .MODAL
    @include xy-grid
</style>
