<template lang="haml">
</template>

<script lang="coffee">
  import $ from 'jquery'
  export default 
    data:  () ->
      message: "This is the message from Drag"
    props: []
    components:
      {
        

      }
    watch: 
      message: (val, old) ->
        console.log("message updated")

    beforeCreate: ->
      console.log 'DRAG  before create'
    created: ->
      console.log 'DRAG  created OK'

    beforeMount: ->
      console.log 'DRAG  before mount'

    mounted: ->
      console.log 'DRAG  mounted'

    beforeUpdate: ->
      console.log 'DRAG  before update'

    updated: ->
      console.log 'DRAG  updated'

    beforeDestroy: ->
      console.log 'DRAG  before destroy'

    destroyed: ->
      console.log 'DRAG  destroyed'

</script>

<style lang="sass" scoped>

</style>
