<!DOCTYPE html>
<html>
  <head>
    <title>TestVue</title>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="WIn-UGdx6vbsmrx7vhyqJVttikYkUh4tKKzq8pVTKZo" />

    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
        
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_pack_tag 'hello_vue' %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
      integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
      crossorigin=""/>

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
